@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;900&display=swap');

:root{
    --softBlue : hsl(215, 51%, 70%);
    --cyan:  hsl(178, 100%, 50%);
    --veryDarkBlue:  hsl(217, 54%, 11%);
    --veryDarkBlue2: hsl(216, 50%, 16%);
    --veryDarkBlue3: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

body {
    background-color: var(--veryDarkBlue);
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
}

.card {
    background-color: var(--veryDarkBlue2);
    color: white;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.2); 
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.2);
}

.info {
    border-bottom: 1px solid var(--veryDarkBlue3);
}

.texto-descripcion{
    color: var(--softBlue);
}

.moneda p {
    color: var(--cyan)
}

.tiempo p {
    color: var(--softBlue);
}

.info-creador{
    color: var(--softBlue);
}

.info-creador span:hover{
    color: var(--cyan);
}

.titulo-descripcion:hover{
    color: var(--cyan);
}

.imagenvista:hover{
    background-color: hsla(178, 100%, 50%, .3)
}

.imagenvista:hover img{
    opacity: 1;
}

.creditos {
    color:var(--softBlue)
}

.creditos a{
    color: var(--white);
    transition: all .5 ease-in-out;
}

.creditos a:hover{
    color:var(--cyan)
}